@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  --color-brand-red: #dc2626;
  --color-brand-blue: #2563eb;
  --color-bg: #ffffff;
  --color-surface: #f8fafc;
  --color-surface-highlight: #f1f5f9;
  --color-border: #e2e8f0;
}

body {
  background-color: var(--color-bg);
  color: #0f172a;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  letter-spacing: -0.025em;
}

.font-mono {
  font-family: var(--font-mono);
}